body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #EAEAF4;
}

h1 {
    color: #EAEAF4;;
    margin-top: 0;
    font-size: 5vw;
    margin-bottom: 12px;
}

.input-form {
    background-color: #A8AAD2;
    height: 484px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10%;
}

.inputs {
    background-color: #EAEAF4;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    overflow-x: auto;
    height: 60vh; 
}

.flex {
    display: flex;
    height: 50vh;
}

main {
    width: 78%;
    height: 100vh;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: row;
    height: 110px; 
    margin-bottom: 35px; 
    width: 100%;
    justify-content: end;
}

label {
    margin-right: 10px;
    align-self: center;
    font-size: 2vw; 
    font-weight: lighter; 
}

.inputField {
    width: 80%;
    border: solid #1F1F3C 4px;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
}

.body {
    height: 7rem;
}

button {
    font-size: 2vw;
    background-color: #1F1F3C;
    color: white;
    border: none;
    width: 104rem; 
    height: 106px; 
}

button:disabled {
    background-color: #9d9da4;
    cursor: not-allowed;
}

form.title {
    margin-bottom: 60px;
    height: 70px;
}

form.body {
    height: 110px; 
    margin-bottom: 35px; 
}

.userIdeaBox {
    background-color: white;
    border: solid #1F1F3C 6px;
    max-width: 450px;
    width: 80%;
    height: 35rem;
    margin-left: 8%;
    margin-top: 10%;
    position: relative; 
    text-align: center;
    font-size: 2em;
    overflow-x: auto; 
    word-break: break-word; 
}

header {
    height: 10vh;
    background-color: #1F1F3C;
    display: flex;
    justify-content: space-between;
}

.sideBar {
    display: flex;
    height: 100vh;
    background-color: #1F1F3C;
    color: fff;
    margin-top: 0;
    text-align: center;
    padding-top: 30px;
    font-size: 70px;
    width: 22%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
.viewType {
    background-color: #A8AAD2;
    color: #1F1F3C;
    width: 90%;
    height: 75px;
}

.viewType:hover {
    background-color: #cecfe9;
    transition: 0.5s;
}

.submit { 
    width: 81%;
    font-size: 2.5vw;
}

img {
    height: 10vh;
}

h3 {
    color: #1F1F3C;
    font-size: 2.5vw; 
    margin-bottom: 0; 
    margin-top: 30px; 
}

p {
    color: #1F1F3C;
    margin-top: 15px; 
    font-size: 2vw;  
}