body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #EAEAF4;
}

h1 {
    display: inline-block;
    height: 100vh;
    background-color: #1F1F3C;
    color: fff;
    margin-top: 0;
    text-align: center;
    padding-top: 30px; 
    font-size: 70px; 
    width: 22%; 
}

.input-form {
    background-color: #A8AAD2;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 87px;

}

.inputs {
    background-color: #EAEAF4;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    overflow: scroll;
    height: 50vh; 
}

.flex {
    display: flex;
    height: 50vh;
}

main {
    width: 78%;
    height: 100vh;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: row;
}

label {
    margin-right: 10px;
    align-self: center;
    font-size: 30px; 
    font-weight: lighter; 

}

.inputField {
    width: 104rem;
    border: solid #1F1F3C 4px;
    font-size: 2em;
}

.body {
    height: 7rem;
}

button {
    font-size: 40px;
    background-color: #1F1F3C;
    color: fff;
    border: none;
    width: 104rem; 
    height: 106px; 
}

button:disabled {
    background-color: #9d9da4;
    cursor: not-allowed;
}

form.title {
    margin-bottom: 60px; 
    height: 70px;
}
form.body {
    height: 110px; 
    margin-bottom: 35px; 
}

.userIdeaBox {
    background-color: white;
    border: solid #1F1F3C 6px;
    width: 450px; 
    height: 550px; 
    margin-left: 20%;
    margin-top: 10%;
    position: relative; 
    text-align: center;
    font-size: 2em;
    overflow: scroll;
}

header {
    height: 100px;
    background-color: #1F1F3C;
    display: flex;
    justify-content: space-between;
}

img {
    height: 100px;
}

